<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<head>
<style>
#numberTable {
   table-layout:fixed;
   width:25%
}

#numberTable td{
   text-align: center;
}

</style>
<script>
    function sendData(){
        var x = calculator.display.value;
        $.ajax({
          type: "POST",
          url: "add_number",
          data: {
            'number': x
          },
          success: function () {
            getData();
          }
        });
    }

    function getData(){
        $.ajax({
          type: "GET",
          url: "get_numbers",
          success: function (res) {
            updateTable(res);
          }
        });
    }

    function updateTable(res){
      $('#numberTable tbody').empty();
      numbersList = JSON.parse(res["numbers"]);
      for(var i in numbersList){
         var entry = numbersList[i];
         var time = entry['time']
         var number = entry['number']
         i = parseInt(i)+1;
         $('#numberTable ').append('<tr><td>' + i + '</td><td>' + number + '</td><td>' + time + '</td></tr>');
      }
    }

   window.setInterval(function(){
     getData();
   }, 5000);

   window.onload = getData();


</script>
<body>
<br>
<h3>
   Calculator
</h3>
<h4>
   Clicking '=' will post a new calculation to the server.
   This page updates every 5 seconds.
</h4>
   <form name="calculator">
     <table>
        <tr>
           <td colspan="4">
              <input type="text" name="display" id="display" disabled>
           </td>
        </tr>
        <tr>
           <td><input type="button" name="one" value="1" onclick="calculator.display.value += '1'"></td>
           <td><input type="button" name="two" value="2" onclick="calculator.display.value += '2'"></td>
           <td><input type="button" name="three" value="3" onclick="calculator.display.value += '3'"></td>
           <td><input type="button" class="operator" name="plus" value="+" onclick="calculator.display.value += '+'"></td>
        </tr>
        <tr>
           <td><input type="button" name="four" value="4" onclick="calculator.display.value += '4'"></td>
           <td><input type="button" name="five" value="5" onclick="calculator.display.value += '5'"></td>
           <td><input type="button" name="six" value="6" onclick="calculator.display.value += '6'"></td>
           <td><input type="button" class="operator" name="minus" value="-" onclick="calculator.display.value += '-'"></td>
        </tr>
        <tr>
           <td><input type="button" name="seven" value="7" onclick="calculator.display.value += '7'"></td>
           <td><input type="button" name="eight" value="8" onclick="calculator.display.value += '8'"></td>
           <td><input type="button" name="nine" value="9" onclick="calculator.display.value += '9'"></td>
           <td><input type="button" class="operator" name="times" value="x" onclick="calculator.display.value += '*'"></td>
        </tr>
        <tr>
           <td><input type="button" id="clear" name="clear" value="c" onclick="calculator.display.value = ''"></td>
           <td><input type="button" name="zero" value="0" onclick="calculator.display.value += '0'"></td>
           <td><input type="button" name="doit" value="=" onclick="calculator.display.value = eval(calculator.display.value); sendData()"></td>
           <td><input type="button" class="operator" name="div" value="/" onclick="calculator.display.value += '/'"></td>
        </tr>
     </table>
   </form>

   <table id="numberTable">
      <thead>
      <tr>
         <th>Index</th>
         <th>Number</th>
         <th>Time</th>
       </tr>
      </thead>
      <tbody>

      </tbody>

   </table>
   </table>
</body>
</head>
